.img {
	width: 90px;
	height: 90px;
}
.imgBlock {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 80px;
}
.title {
	font-size: 40px;
	color: rgb(59, 67, 70);
}
.list_group_container {
	width: 600px;
	margin: 0 auto;
}
